@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);


.fa-2x {
font-size: 2em;
}
.fas {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:25px;
padding: 10px;
color: whitesmoke;
}
.container {
  margin-top: 20px;
}

.ba {
  color: blueviolet;
}

.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu {
background:#5a77f5;
border-right:1px solid #e5e5e5;
top:0;
position:absolute;
height: 100%;
bottom: 0;
left:0;
width:62px;
overflow:hidden;
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}


.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5fa2db;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
clear: both;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

.heading {
   color: rgb(66, 46, 165);
   margin-left: 5em;
   padding-bottom: 0.5em;
   padding-top:0.5em ;
}
.btn1 {
  border-radius: 45px;
  font-size: small;
  background-color:rgb(99, 131, 243);
  margin-left: 4em;
  font-weight: bold;
  text-align: center;
  color: white;
  border: none;
  padding: 0.5em;
  
}
.heading-text {
  padding-top: 20px;
  margin-top: 20px;
  margin-left: 85px;
  padding-bottom: 20px;

  box-shadow: 0px 0px 20px rgb(0 0 0 / 30%);
  border-radius: 20px;
}

.table1 {
  background-color: rgb(82, 170, 82);
  border-radius: 25px;
  padding: 25px;
  color: white;
}

.table2{
  border-radius: 45px;
  background-color: rgb(196, 184, 184);
  color: rgb(112, 77, 145);
}

.mt4 {
  border: 1px solid black;
}
.card{
  max-width: 430px;
  border: none;
}
.img-fluid{
 padding-top: 1em;
 padding-left: 1em;
 height: 7em;
}
.bt1{
  background-color: white;
}
.checkbox-form {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ca2222;
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: rgb(83, 138, 83);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(55px);
}

.slider:after
{
 content:'OFF';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 50%;
 font-size: 10px;
 font-family: Verdana, sans-serif;
}

input:checked + .slider:after
{  
  content:'ON';
}

.btn2{
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 25px;
  background-color: rgb(99, 131, 243);
  color: white;
  border: none;
  margin-top: 1em;

}
.wid1{
  width: 3em;
  height: 2em;
  display: inline;
}
